<div class="container">



<h1 class ="display-3">Accepted Requests</h1>
	<div class="container" id = "cardContainer">
		<% @accepted_request.each do |request| %>
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title"><%= request.request.description %></h5>
				    <p class="card-text">Location: <%= request.request.location %></p>
				    <p class="card-text">Accepted: <%= request.request.accepted %></p>
				    <button href="/requests/new" type="button" class="btn btn-primary btn-lg"><%= link_to 'View', "/requests/" + request.request.id.to_s %></button>
				  </div>
				</div>
		<%end%>
	</div>
<h1 class ="display-3">Accepted Appointments</h1>
	<div class="container" id = "cardContainer">
		<% @accepted_appointment.each do |appointment| %>
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title"><%= appointment.appointment.time_slot %></h5>
				    <p class="card-text">Date: <%= appointment.appointment.date %></p>
				    <p class="card-text">Accepted: <%= appointment.appointment.accepted %></p>
				    <button href="/appointments/new" type="button" class="btn btn-primary btn-lg"><%= link_to 'View', "/appointments/" + appointment.appointment.id.to_s %></button>
				  </div>
				</div>
		<%end%>
	</div>
</div>