/accepted

<!-- <#% request = @accepted_request.map{|x| x.request} %> -->

<table class="table">
  <thead>
    <tr>
    	<th scope="col">request_id</th>
      <th scope="col">user_id</th>
      <th scope="col">description</th>
      <th scope="col">location</th>
      <th scope="col">accepted</th>
      <th scope="col">view request</th>
    </tr>
  </thead>
  <tbody>
<% @accepted_request.each do |request| %>
    <tr>
      <td><%= request.request.id %></td>
      <td><%= request.request.user_id %></td>
      <td><%= request.request.description %></td>
      <td><%= request.request.location %></td>
      <td><%= request.request.accepted %></td>
      <td><%= link_to 'View', "/requests/" + request.request.id.to_s %></td>
    </tr>
<%end%>
  </tbody>
</table>