<div class="container">
		<div><button type="button" class="btn btn-primary btn-lg"><%= link_to 'New Requests', "/requests/new" %></button></div>
<h1 class ="display-3">All Requests</h1>
		<% @requests.each do |request| %>
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title"><%= request.description %></h5>
				    <p class="card-text">Location: <%= request.location %></p>
				    <p class="card-text">Accepted: <%= request.accepted %></p>
				    <button href="/requests/new" type="button" class="btn btn-primary btn-lg"><%= link_to 'View', "/requests/" + request.id.to_s %></button>
				  </div>
				</div>
		<%end%>
</div>