/created

<table class="table">
  <thead>
    <tr>
    	<th scope="col">request_id</th>
      <th scope="col">user_id</th>
      <th scope="col">description</th>
      <th scope="col">location</th>
      <th scope="col">accepted</th>
      <th scope="col">view request</th>
    </tr>
  </thead>
  <tbody>
<% @request.each do |request| %>
    <tr>
      <td><%= request.id %></td>
      <td><%= request.user_id %></td>
      <td><%= request.description %></td>
      <td><%= request.location %></td>
      <td><%= request.accepted %></td>
      <td><%= link_to 'View', "/requests/" + request.id.to_s %></td>
    </tr>
<%end%>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
    	<th scope="col">appointment_id</th>
      <th scope="col">user_id</th>
      <th scope="col">time_slot</th>
      <th scope="col">date</th>
      <th scope="col">accepted</th>
      <th scope="col">view request</th>
    </tr>
  </thead>
  <tbody>
<% @appointment.each do |appointment| %>
    <tr>
      <td><%= appointment.id %></td>
      <td><%= appointment.user_id %></td>
      <td><%= appointment.time_slot %></td>
      <td><%= appointment.date %></td>
      <td><%= appointment.accepted %></td>
      <td><%= link_to 'View', "/appointments/" + appointment.id.to_s %></td>
    </tr>
<%end%>
  </tbody>
</table>