<div class="container">
		<div><button type="button" class="btn btn-primary btn-lg"><%= link_to 'New Appointments', "/appointments/new" %></button></div>
<h1 class ="display-3">All Appointments</h1>
		<% @appointments.each do |appointment| %>
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title"><%= appointment.time_slot %></h5>
				    <p class="card-text">Date: <%= appointment.date %></p>
				    <p class="card-text">Accepted: <%= appointment.accepted %></p>
				    <button href="/appointments/new" type="button" class="btn btn-primary btn-lg"><%= link_to 'View', "/appointments/" + appointment.id.to_s %></button>
				  </div>
				</div>
		<%end%>
</div>