<div class="container">
		appointments/new.html.erb

		<%= form_with scope: :appointment, url: appointments_path, local: true do |form| %>

		  <div>
		    <%= form.label :date %><br>
		    <%= form.date_select :date %>
		  </div>

		  <!-- <input name="user_id" type="hidden" value= <%= @user_id.to_i %>> -->

		  <%= form.select :time_slot, [ 'Morning','Afternoon','Evening' ], :prompt => 'Select Time Slot' %>

		  <!-- <input name="accepted" type="hidden" value= false> -->

		  <p>
		    <%= form.submit %>
		  </p>

		<% end %>

		<%= link_to 'Back', "/requests/all" %>
</div>